body{
    background-color: white;
}

.header-pagina{
    text-align: center;
    color: #8187FF;
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
}

.agregar-receta{
    border: 1px solid;
}

.recetas > .titulo {
    text-align: center;
}

.grupo{
    font-family: 'Domine', serif;
}

.agregar {
    background-color: #8187FF;
    border-radius: 5px;
    border: 1px solid black;
    margin-top: 20px;
    padding: 10px;
    transition: .5s;
    width: 25%;