body{
    background-color: #EFEEFE;
}

.topnav {
    background-color: rgb(87, 84, 84);
    overflow: hidden;
    margin-top: -5px;
    margin-left: -5px;
    margin-right: -5px;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Domine', serif;
  }
  
  .topnav a:hover {
    background-color: #DBCEFC;
    color: black;
  }
  
  .topnav a.active {
    background-color: #BA9FFD;
    color: white;
}

.header-pagina{
    text-align: center;
    color: #BA9FFD;
    text-shadow: black;
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    margin-top: -16px;
}

.agregar-receta{
    border: 1px solid;
    text-align: center;
}

.recetas > .titulo {
    text-align: center;
}

.grupo{
    font-family: 'Domine', serif;
    margin-bottom: 5px;
    text-align: center;
}

.agregar-receta > .titulo {
    text-align: center;
}

#btn-agregar {
    background-color: #BA9FFD;
    border-radius: 5px;
    border: 1px solid black;
    margin-top: 20px;
    padding: 10px;
    transition: .5s;
    width: 25%;
    text-align: center;
    }

.grupo > .nombre {
    text-align: center;
}